*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
background: rgb(0, 0, 0);
}


li,a,button{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #edf0f1;
    text-decoration: none;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    background-color: rgb(55, 92, 55);
    position: fixed;
    Top: 0;
    left: 0;
    right: 0;
}
Endborder{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(55, 92, 55);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}


.logo{
    height: auto;
    width: 15%;
    cursor: pointer;
}

.logo2{
    position: fixed;
    height: auto;
    width: 30;
    right: 70px;
    top: 275px;
    opacity: 0.4;
    
}


nav .fas{
    color: white;
    font-size: 25px;
}

.nav__links{
    list-style: none;
}

.nav__links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: rgb(208, 255, 66);
}

.Login{
    padding: 7px 35px;
    background-color: rgb(0, 146, 0);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.SubmitBut{
    padding: 7px 35px;
    background-color: rgb(0, 146, 0);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: rgba(0, 143, 29, 0.5);
}
onpage{
    color: rgb(208, 255, 66);
}

/* All Text Configurtions */

h1{
    color: rgb(255, 255, 255);
    text-align: left;
    font-size: 350%;
    font-weight: 500px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    clear: right;
}

.titlepage{
    color: rgb(255, 255, 255);
    text-align: left;
    margin-left: 100px;
    margin-top: 500px;
    font-size: 505%;
    font-weight: 500px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    clear: right;
}

.subtext1{
    color: rgb(255, 255, 255);
    text-align: left;
    margin-left: 100px;
    margin-top: 15px;
    font-size: 120%;
    font-weight: 500px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    clear: right;
}

.subtitle2{
    color: rgb(255, 255, 255);
    padding-top: 30px;
    margin-left: 15px;
    font-size: 300%;
    font-weight: 500px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    clear: right;
}

h2{
    color: rgb(255, 255, 255);
    text-align: left;
    margin-left: 100px;
    margin-top: 300px;
    font-size: 505%;
    font-weight: 500px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    clear: right;
}


h3{
    color: rgb(255, 255, 255);
    padding-top: 30px;
    margin-left: 15px;
    font-size: 200%;
    font-weight: 500px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    clear: right;
}


h4{
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 200px;
    font-size: 350%;
    font-weight: 500px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    clear: right;
}

h5{
    color: rgb(255, 255, 255);
    margin-top: 40px;
    margin-left: 15px;
    font-size: 200%;
    font-weight: 500px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    clear: right;
}

h6{
    color: rgb(255, 255, 255);
    padding-top: 30px;
    margin-left: 15px;
    font-size: 200%;
    font-weight: 500px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    clear: right;
}


/* Contact */

.contact-left{
    flex-basis: 60%;
}

.contact-right{
    flex-basis: 35%;
}

.contact-left p{
    margin-top: 30px;
}

.contact-left p i{
    color: rgb(255, 255, 255);
    margin-right: 15px;
    font-size: 25px;
}

.social-icons {
    margin-top: 45px;
}

.social-icons a{
    text-decoration: none;
    font-size: 40px;
    margin-left: 30px;
    color: #ffffff;
    display: inline-block;
    transition: transform(1s);
}

.social-icons a:hover{
    color: #00ff6e;
    transform: translateY(-5px);
}

.contact-right form{
    width: 100%;
}

form input, form textarea{
    width: 100%;
    border: 0%;
    outline: none;
    background: #3f3f3f;
    padding: 15px;
    margin: 15px 0;
    color: #ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    border-radius: 6px;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.container{
    padding: 10px 10%;
}

nav .fas{
    display: none;
}

#msg{
    color: #607168;
    margin-top: 20px;
    display: block;
    font-size: 120%;
    font-weight: 500px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

/*------------News Page-------------*/

.news{
    background-image: url(/Images/GreenBackground.jpg); 
    background-size: 50%, 1px;
    background-repeat: repeat;
}

.container2{
    padding: 10px 10%;
    background-image: url(Images/DarkBackground.jpg);
    background-clip: content-box;
}

.NewsBanner{
        padding-top: 145px;
        padding-bottom: 30px;
        height: auto;
        width: 100%;
        opacity: 1;
}

.NewsHeaders{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 400%;
    font-weight: 500px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/*------------Shows Page-------------*/

.shows{
    background-image: url(Images/GreenBackground.jpg); 
    background-size: 50%, 1px;
    background-repeat: repeat;
}

.container2{
    padding: 20px 20%;
    background-image: url(Images/DarkBackground.jpg);
    background-size: 50%, 1px;
    background-repeat: repeat;
    background-clip: content-box;
}

.ShowBanner{
    padding-top: 145px;
    padding-bottom: 30px;
    height: auto;
    width: 100%;
    opacity: 1;
}

.ShowHeaders{
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 400%;
    font-weight: 500px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.ShowImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 55%;
    outline-color: black;
    outline-style: solid;
    outline-width: 4px;
    opacity: 1;
    align-items: center;
    cursor: pointer;
}


.PreviousShows{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    height: 150px;
    width: 255px;
    outline-color: black;
    outline-style: solid;
    outline-width: 4px;
    opacity: 1;
}

.column {
    width: 33%;
    padding: 2px;
  }
  

  .row::after {
    clear: both;
    display: table;
  }

/* PPV Subpage CSS */

.PPVBanner{
    display: block;
    margin-top: 145px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 100%;
    opacity: 1;
    align-items: center;
}

.PPVLocation{
    color: rgb(255, 255, 255);
    padding-left: 50px;
    padding-top: 30px;
    font-size: 150%;
    font-weight: 500px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.PPVDate{
    color: rgb(255, 255, 255);
    padding-top: 30px;
    padding-right: 50px;
    font-size: 150%;
    font-weight: 500px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.PPVInfo{
    display: flex;
    justify-content: space-between;
}

.PPVTitle{
    color: rgb(255, 255, 255);
    padding-top: 30px;
    font-size: 500%;
    font-weight: 500px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.PPVSubTitle1{
    color: rgb(255, 255, 255);
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 375%;
    font-weight: 500px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.PPVSubTitle2{
    color: rgb(255, 255, 255);
    padding-top: 30px;
    padding-bottom: 50px;
    font-size: 375%;
    font-weight: 500px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.PPVMC{
    color: rgb(255, 255, 255);
    padding-top: 30px;
    padding-bottom: 25px;

}

.PPVMC li{
    list-style-type: none;
    padding-bottom: 10px;
    font-size: 200%;
    font-weight: 500px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.PPVMCTitle{
    color: rgb(255, 255, 255);
    padding-top: 30px;
    font-size: 350%;
    font-weight: 500px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.PPVMCChampionship{
    color: rgb(255, 255, 255);
    padding-top: 10px;
    font-size: 150%;
    font-weight: 500px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.PPVMCMatchType{
    color: rgb(255, 255, 255);
    padding-top: 10px;
    padding-bottom: 30px;
    font-size: 125%;
    font-weight: 500px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.PPVMatches{
    display: block;
    padding-top: 30px;
    padding-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 70%;
    align-items: center;
}

.lineBreak{
    width:100%;
    height:4px;
    background-color:#ffffff;
    border:none;
    margin-top: 30px;
    margin-bottom: 30px;
}