*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    --color-primary:rgb(55, 92, 55);
    --color-primary-dark:rgb(0, 50, 0);
    --color-primary-light:rgb(208, 255, 66);
    --color-secondary:#85de00;
    --color-button:rgb(0, 146, 0);
    --color-button-hover:rgb(0, 143, 29,0.5);
    --color-font:rgb(255,255,255);

    --color-tab:rgb(0, 96, 18);
    --color-General-hover:rgb(208, 255, 66);
    --color-SD-hover:rgb(55, 172, 255);
    --color-RAW-hover:rgb(255, 74, 74);
    --color-ECW-hover:rgb(172, 77, 255);
    background: rgb(0, 0, 0);
}


li,a,button{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: var(--color-font);
    text-decoration: none;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    background-color: var(--color-primary);
    position: fixed;
    Top: 0;
    left: 0;
    right: 0;
}
.Endborder{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: var(--color-primary);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}


.logo{
    height: auto;
    width: 15%;
    cursor: pointer;
}

.logo2{
    position: fixed;
    height: auto;
    width: 30;
    right: 70px;
    top: 275px;
    opacity: 0.4;
    
}


nav .fas{
    color: var(--color-font);
    font-size: 25px;
}

.nav__links{
    list-style: none;
}

.nav__links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: var(--color-primary-light);
}

.Login{
    padding: 7px 35px;
    background-color: var(--color-button);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.SubmitBut{
    padding: 7px 35px;
    background-color: var(--color-button);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: var(--color-button-hover);
}
onpage{
    color: var(--color-primary-light);
}

/* All Text Configurtions */

h1{
    color: var(--color-font);
    text-align: left;
    font-size: 350%;
    font-weight: 500px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    clear: right;
}

.titlepage{
    color: var(--color-font);
    text-align: left;
    margin-left: 100px;
    margin-top: 500px;
    font-size: 505%;
    font-weight: 500px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    clear: right;
}

.subtext1{
    color: var(--color-font);
    text-align: left;
    margin-left: 100px;
    margin-top: 15px;
    font-size: 120%;
    font-weight: 500px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    clear: right;
}

.subtitle2{
    color: var(--color-font);
    padding-top: 30px;
    margin-left: 15px;
    font-size: 300%;
    font-weight: 500px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    clear: right;
}

h2{
    color: var(--color-font);
    text-align: left;
    margin-left: 100px;
    margin-top: 300px;
    font-size: 505%;
    font-weight: 500px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    clear: right;
}


h3{
    color: var(--color-font);
    padding-top: 30px;
    margin-left: 15px;
    font-size: 200%;
    font-weight: 500px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    clear: right;
}


h4{
    color: var(--color-font);
    text-align: center;
    padding-top: 200px;
    font-size: 350%;
    font-weight: 500px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    clear: right;
}

h5{
    color: var(--color-font);
    margin-top: 40px;
    margin-left: 15px;
    font-size: 200%;
    font-weight: 500px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    clear: right;
}

h6{
    color: var(--color-font);
    padding-top: 30px;
    margin-left: 15px;
    font-size: 200%;
    font-weight: 500px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    clear: right;
}


/* Contact */

.contact-left{
    flex-basis: 60%;
}

.contact-right{
    flex-basis: 35%;
}

.contact-left p{
    margin-top: 30px;
}

.contact-left p i{
    color: var(--color-font);
    margin-right: 15px;
    font-size: 25px;
}

.social-icons {
    margin-top: 45px;
}

.social-icons a{
    text-decoration: none;
    font-size: 40px;
    margin-left: 30px;
    color: #ffffff;
    display: inline-block;
    transition: transform(1s);
}

.social-icons a:hover{
    color: #00ff6e;
    transform: translateY(-5px);
}

.contact-right form{
    width: 100%;
}

form input, form textarea{
    width: 100%;
    border: 0%;
    outline: none;
    background: #3f3f3f;
    padding: 15px;
    margin: 15px 0;
    color: #ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    border-radius: 6px;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.container{
    padding: 1vw 10%;
}

nav .fas{
    display: none;
}

#msg{
    color: #607168;
    margin-top: 20px;
    display: block;
    font-size: 120%;
    font-weight: 500px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}